* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  background-color: darkgrey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*--- container CSS ---*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100vh;
}
/*--- punkt 1 CSS ---*/
.time-date {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 3px 30px;
  gap: 20px;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 15px 25px rgba(105, 6, 6, 0.2);
}
/*--- punkt 2 CSS ---*/
.titel {
  user-select: none;
  grid-column: 1 / span 3;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-input {
  font-size: 2rem;
  text-align: center;
  border: none;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.hidden {
  background: none;
}

/*--- punkt 3 CSS ---*/

.shortcut-links {
  grid-column: 1 / span 3;

  background-color: lightgray;
  gap: 10px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.2);
}

/*-- google-icon style  (+) --*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 200, "GRAD" 0, "opsz" 10;
  padding-left: 15px;
  cursor: pointer;
}

.add-link-btn {
  margin-top: 1rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.3rem 0.8rem 0.3rem 0;
  cursor: pointer;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.url-name,
.url-input {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  padding: 0.3rem;
  border: none;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.link {
  display: flex;
  background-color: aliceblue;
  width: 80%;
}
.link a {
  display: flex;
  float: left;
  text-decoration: none;
  color: black;
}
.link span {
  display: flex;
  position: relative;
}
#deleteBtn {
  font-size: 16px;
  inset: 0 5px auto auto;
  position: absolute;
}
#plusSymbole {
  font-size: 19px;
}
.listElement {
  display: flex;
  padding: 10px 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

/*--- punt 4 CSS ---*/
.weather-report {
  grid-column: 1 / span 3;
  display: flex;
  background-color: lightgray;
  gap: 10px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.weather-icon {
  width: 4rem;
  height: 4rem;
}
.first,
.second,
.third {
  padding-top: 10px;
  display: flex;
  background-color: white;
  gap: 20px;
  width: 90%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.first h4,
.second h4,
.third h4 {
  padding-bottom: 10px;
}
.current-weather {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.current-weather p {
  background-color: lightgray;
  text-align: center;
  border-radius: 5px;
  padding: 5px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.weather-info {
  display: flex;
  flex-direction: column;
}

/*--- punt 5 CSS ---*/
.bored-api {
  grid-column: 1 / span 3;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.header {
  text-align: center;
  padding: 20px 0;
  gap: 10px;
}
.header h2 {
  padding-bottom: 10px;
}
.boredInput {
  padding-left: 10px;
}
.boredInput p {
  padding: 10px;
}
.boredInput a {
  text-decoration: none;
  color: #3a86ff;
  border-bottom: 1px solid #3a86ff;
}
/*--- punkt-6 ---*/
.notes {
  grid-column: 1 / span 3;
  background-color: lightgray;
  gap: 25px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
#userNotes {
  background-color: aliceblue;
  border: none;
  padding: 10px;
  line-height: 1.3rem;
}

/*--- punkt 7 CSS ---*/
.change-background {
  grid-column: 1 / span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  margin: 0 auto;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}
.change-background-btn {
  font-size: 1rem;
  cursor: pointer;
  padding: 8px 10px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: black;
}
/*-- google-icon style  refresh-symbolen --*/
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}

/*--- media query ----*/
@media (min-width: 500px) and (max-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px 350px 350px 50px;
    width: 100%;
  }
  .time-date {
    grid-column: 1 / span 4;
    height: 50px;
    gap: 50px;
    margin: 0 auto;
  }
  .titel {
    grid-column: 1 / span 4;
    height: 0;
    margin: 40px auto;
  }
  .name-input {
    font-size: 2rem;
    font-weight: 700;
  }

  .shortcut-links {
    grid-column: 1 / span 2;
  }
  .ulList {
    width: 90%;
  }
  .weather-report {
    grid-column: 3 / span 2;
  }
  .bored-api {
    grid-column: 1 / span 2;
  }
  .notes {
    grid-column: 3 / span 2;
  }
  #userNotes {
    height: 300px;
  }
  .change-background {
    grid-column: 1 / span 4;
  }
}
/*--- media query ---*/
@media (min-width: 900px) and (max-width: 2220px) {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 150px 350px 50px;
    width: 100;
  }
  .time-date {
    grid-column: 1 / span 4;
    height: 50px;
    gap: 50px;
    margin: 0 auto;
  }
  .titel {
    grid-column: 1 / span 4;
    height: 0;
    margin-bottom: 0;
    margin-top: 90px;
  }

  .name-input {
    padding: 0.5rem 5rem;
    font-size: 3rem;
  }
  .shortcut-links {
    grid-column: 1 / span 1;
  }
  .ulList {
    width: 90%;
  }
  .weather-report {
    grid-column: 2 / span 1;
  }
  .bored-api {
    grid-column: 3 / span 1;
  }
  .notes {
    grid-column: 4 / span 1;
  }
  .change-background {
    grid-column: 1 / span 4;
  }
}
